.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.chart {
  display: flex;
  justify-content: center;
}
.progress {
  margin-bottom: 20px;
}